.big-buttons {
    background-color: rgb(243, 39, 39);
    width: 110px;
    border: 1px solid black;
    border-radius: 20px;
}

.ligado {
    background-color: rgb(21, 79, 255);
    height: 180px;
    padding-top: 40px;
    animation-name: abertura;
    animation-duration: 2s;
}

@keyframes abertura {
    0%   {
        background-color: rgb(17, 17, 17);
    }
    100% {
        background-color: rgb(21, 79, 255);
    }
}